#wrapper {
    display: grid;
    width: 100%;
    background-color: rgb(0, 0, 0);
    grid-template-rows: 50px 50px 50px 
    200px;
    grid-template-areas: "nv" "nv" "nv"
                         "hd" "hd" "hd"
                         "s1" "s1" "s1"
                         "s2" "s2" "s2"
                         "s3" "s3" "s3"
                         "ft" "ft" "ft";
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: hd;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    
    
}

/* ----- Nav ----- */

nav {
    grid-area: nv;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    font-size: large;
    display: inline;
    text-align: justify;
    height: 130px;
    justify-content: flex-end;
    background-image:url("/img/FLM-STREAMLOGO.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position-x: 50px;
}



nav ul {
  margin-top: 35px;
  font-size: 20px;
}

nav ul li {
    list-style:none;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.text {
    margin-top: 10px; 
    text-align:center;
}

#sec1 {
    grid-area: s1;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    height: 350px;
    margin-bottom: 20px;
    
   
}

#sec2 {
    grid-area: s2;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    height: 350px;
    
}

#sec3 {
    grid-area: s3;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    height: 350px;
    margin-top: 20px;
    
}

.box {
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display:flex
}

h1 {
    
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;

}

img {
   margin: 0px 10px 30px 20px ;
   border: 1px solid white;
   display: inline-block;
}

img:hover {
    letter-spacing: 1px;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 7px 7px rgba(255, 255, 255, 0.4); 
}

@media (max-width: 770px) {
    .wrapper {
        padding: 20px;
    }
}

img { border-radius: 10px;

}

/* ----- footer ----- */

footer {
    grid-area: ft;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    grid-template-areas: 
    "Profile" "WatchList";
    border: 2px solid white;
    margin-top: 20px;
    height: 120px;

}

h4 {
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 10px;
    height: 20px;
    

  

}



h5 {
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
    height: 20px;
    margin-left: 20px;

  

}

.box3 {
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    background: rgb(0, 0, 0);
    display:flex;
    
}

